.contact {
  padding-bottom: 90px;
}
.ct-right {
  padding-left: 0;
}
@media (min-width: 768px) {
  .ct-right {
    padding-left: 70px;
  }
}
.contact-body {
  margin-top: 10px;
  margin-bottom: 60px;
}
.contact-body,
.contact-body p {
  font-size: 18px;
  color: #8eb35a;
  line-height: 1.6em;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0.05em;
}
.contact-details {
  padding-right: 100px;
}
.contact-details h4 {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 30px;
}
