.whychoose {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #f7f5eb;
}
.whychoose h2 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  font-style: normal;
}
.rbox {
  position: relative;
  padding: 20px 10px 0 20px;
  margin-bottom: 40px;
}
.rbox:first-child {
  margin-bottom: 60px;
}
.rbox::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -24px;
  bottom: -20px;
  right: -20px;
  padding: 10px 20px;
  background-color: #fff;
  transform: perspective(1000px) rotateY(-20deg);
  border-radius: 40px;
}
.rbox .inner {
  position: relative;
  z-index: 2;
  transform: translateZ(1000px);
}
